<%- include("./partiels/header.ejs") %>

<body>
  <% x100.forEach(x => {%>
  <h1><%= x.status %></h1>
  <h2><%= x.titre %></h2>
  <% }); %> <% c100.forEach( x=> {%>
  <h3><%= x.code %> - <%= x.message %></h3>
  <p><%= x.signification %></p>
  <% }); %>
</body>

<%- include("./partiels/footer.ejs") %>
