<%- include("./partiels/header.ejs") %>

<body>
  <% x300.forEach(x=> { %>
  <h1><%= x.status %></h1>
  <h2><%= x.contenu %></h2>
  <p><%= x.suite %></p>
  <% });%>
</body>

<%- include("./partiels/footer.ejs") %>
